

html,
body,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Fira Code', monospace;
    background: linear-gradient(135deg, #d46a8c, #8b5cf6);
    color: white;
}

/* =========================
   CONTENEDOR PRINCIPAL
========================= */

.container {
    background-color: #111;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    max-width: 900px;
    width: 90%;
    margin: 40px auto;
    text-align: center;
    position: relative;
    z-index: 2;
    transition: 0.3s;
}

/* =========================
   NAVBAR
========================= */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: black;
    border-radius: 12px;
    margin-bottom: 30px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #ff8ac2;
}

/* =========================
   PORTAFOLIO
========================= */

.portafolio {
    padding: 40px 20px;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: #2a2a2a;
}

/* =========================
   TAGS
========================= */

.tags span {
    background: #8b5cf6;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin: 5px;
    display: inline-block;
}

/* =========================
   BOTÓN GITHUB
========================= */

.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 10px;
    transition: all .3s;
}

.Btn:hover .BG {
    transform: rotate(35deg);
}

.Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.2);
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 95%;
    }
}

